################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DRSProject/KSRESClient/bin/Debug/KSRESClient.vshost.exe
