<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- LKResService  -->
      <service name="LKRES.Services.LKResService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/ILKRes" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="CommonLibrary.Interfaces.ILKRes" />
      </service>

      <!-- LKForClientService -->
      <service name="LKRES.Services.LKForClientService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5000/ILKForClient" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="CommonLibrary.Interfaces.ILKForClient" />
      </service>
    </services>
    
    <!--Client for KSRes-->
    <client>
      <endpoint name="ClientKSRes"
                address="net.tcp://localhost:10010/IKSRes"
                binding="netTcpBinding"
                contract="CommonLibrary.Interfaces.IKSRes" />
    </client>
  </system.serviceModel>
</configuration>