<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- LKResService  -->
      <service name="LKRES.Services.LKResService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/ILKRes" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="CommonLibrary.ILKRes" />
      </service>

      <!-- LKForClientService -->
      <service name="LKRES.Services.LKForClientService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5000/ILKForClient" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="CommonLibrary.ILKForClient" />
      </service>

      <!-- LKClientService -->
      <service name="LKRES.Services.LKClientService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:6000/ILKClient" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="CommonLibrary.ILKClient" />
      </service>

    </services>
  </system.serviceModel>
</configuration>