<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- LKClientService -->
      <service name="LKRESClient.LKClientService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:6000/ILKClient" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="CommonLibrary.Interfaces.ILKClient" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
