<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <!-- LKResService  -->
      <service name="KSRes.Services.KSRes">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10010/IKSRes" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="CommonLibrary.Interfaces.IKSRes" />
      </service>

      <!-- LKForClientService -->
      <service name="KSRes.Services.KSRes">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10020/IKSForClient" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="CommonLibrary.Interfaces.IKSForClient" />
      </service>
    </services>
  </system.serviceModel>
</configuration>